h1 {
  background-color: rgb(250, 193, 221);
  color: rgb(0, 0, 0);
  margin: 40px auto;
  padding: 30px;
  border: 5px;
  width: 600px;
  font-size: 300%;
  text-align: center;
  line-height: 1;
}

h2
{
  text-align: center;
  color: #78b0f8;
}
body {
  border: 5px solid #4f03ff;
  background-color: #000000e3;
  height: 99vh;
  margin: 0;
  padding: 0;
}

div
  button {
    background-color: #d8fbff;
    color: rgb(75, 75, 75);
    padding: 30px 50px;
    margin:10px ;
    border-radius:50px ;
    border: none;
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    justify-content: space-around;
    width: 500px;
  }

  button:hover {
    background-color: #ffffff;
  }
  .button-group {
    display: flex;
    justify-content: space-around;
    padding: 10px;

  }

 